In [1]:
import pandas as pd

In [3]:
org_data=pd.read_csv('datasets/Qinspection.csv')
org_data.head(5)

   feature1  feature2  feature3  feature4  feature5  feature6 class
0       4.9       4.7       3.2       1.3       0.2       0.3     A
1       4.8       4.6       3.1       1.5       0.2       0.3     A
2       5.2       5.0       3.6       1.4       0.2       0.3     A
3       5.6       5.4       3.9       1.7       0.4       0.5     A
4       4.8       4.6       3.4       1.4       0.3       0.4     A

In [8]:
predictors=org_data.iloc[:,0:6]
features = ['feature1', 'feature2', 'feature3', 'feature4','feature5','feature6']
predictors.head(5)

   feature1  feature2  feature3  feature4  feature5  feature6
0       4.9       4.7       3.2       1.3       0.2       0.3
1       4.8       4.6       3.1       1.5       0.2       0.3
2       5.2       5.0       3.6       1.4       0.2       0.3
3       5.6       5.4       3.9       1.7       0.4       0.5
4       4.8       4.6       3.4       1.4       0.3       0.4

In [5]:
label=org_data.iloc[:,-1]
label.head(5)

0    A
1    A
2    A
3    A
4    A
Name: class, dtype: object

In [6]:
from sklearn.feature_selection import mutual_info_classif
from sklearn.feature_selection import SelectKBest

In [7]:
MI_score=mutual_info_classif(predictors,label,random_state=0)
MI_score

array([0.45985304, 0.49819147, 0.24526258, 0.99128275, 0.97610716,
       0.98633561])

In [9]:
for feature in zip(features,MI_score):
    print(feature)

('feature1', 0.4598530361485349)
('feature2', 0.4981914659338187)
('feature3', 0.2452625812574003)
('feature4', 0.9912827527968107)
('feature5', 0.9761071551479339)
('feature6', 0.9863356059328541)