In [2]:
import pandas as pd
import numpy as np
from sklearn.feature_selection import VarianceThreshold

In [3]:
org_data=pd.read_csv('datasets/Qinspection.csv')
org_data.head(5)

   feature1  feature2  feature3  feature4  feature5  feature6 class
0       4.9       4.7       3.2       1.3       0.2       0.3     A
1       4.8       4.6       3.1       1.5       0.2       0.3     A
2       5.2       5.0       3.6       1.4       0.2       0.3     A
3       5.6       5.4       3.9       1.7       0.4       0.5     A
4       4.8       4.6       3.4       1.4       0.3       0.4     A

In [8]:
features=org_data.iloc[:,0:6]
label=org_data.iloc[:,-1]

In [9]:
selector=VarianceThreshold(threshold=0.2)
data=selector.fit_transform(features)

In [11]:
features = ['feature1', 'feature2', 'feature3', 'feature4','feature5','feature6']
for feature in zip (features,selector.variances_):
    print(feature)

('feature1', 0.6976345486111111)
('feature2', 0.6976345486111113)
('feature3', 0.19400414737654317)
('feature4', 3.1096484375)
('feature5', 0.5760411844135802)
('feature6', 0.5760411844135803)

In [12]:
dflabel=pd.DataFrame(label)
data=pd.DataFrame(data)
new_data=pd.concat([data,dflabel],axis=1)
new_data.head(5)

     0    1    2    3    4 class
0  4.9  4.7  1.3  0.2  0.3     A
1  4.8  4.6  1.5  0.2  0.3     A
2  5.2  5.0  1.4  0.2  0.3     A
3  5.6  5.4  1.7  0.4  0.5     A
4  4.8  4.6  1.4  0.3  0.4     A